* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
} 

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
	width: 100%;
	background: #fff;
	display: flex;
    padding-bottom: 419px;
}

.header-container {
    width: 1130px;
    margin: 0 auto;
}

.logo {
	text-transform: uppercase;
	color: #000;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 181px;
    float: left;
}

nav {
    float: right;
	margin-top: 59px;	
    margin-right: 35px;
}

.menu {
    margin: 0;
    padding: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 30px;    
}
.menu a {
	color: #fff;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.header-title {
    color: #909090;
    margin-top: 210px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.header-title span {
    color: #fcac45;
    font-weight: 800;
}

.header-slogan {
    color: #999999;
    margin-top: 31px;
    font-size: 16px;
    text-align: center;
}

.header-slogan span {
    font-weight: 800;
}