* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: .2s;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #000;
    display: flex;
    padding-bottom: 419px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    float: left;
}

nav {
    float: right;
    margin-top: 60px;
}

.menu {
    margin: 0;
    padding: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 0;
}

.menu a:hover {
    color: #fff;
    background-color: #e7d93c;
    border-bottom: 3px solid #fcac45;
    text-decoration: inherit;
}

.menu a.active {
    border-bottom: 3px solid #fcac45;
}

.header__title {
    color: #909090;
    margin-top: 290px;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.header__title span {
    color: #fcac45;
    font-weight: 800;
}

.header__slogan {
    color: #999999;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.header__slogan span {
    font-weight: 800;
}

.about-my-company__image {
    width: auto;
    padding: 105px 0 100px;
    float: left;
}

.about-my-company__item {
    padding-top: 135px;
    margin-left: 70px;
}

.about-my-company__item__title h1 {
    font: 37px 'Open Sans', sans-serif;
    padding-bottom: 20px;
    border-bottom: 3px solid #fcac45;
    text-align: justify;
    text-transform: uppercase;
}

.about-my-company__item__slogan {
    font: 18px 'Open Sans', sans-serif;
    padding: 30px 0;
    color: #6c6c6c;
}

.item__list ul {
    margin-top: 20px;
    color: #6c6c6c;
    list-style-position: inside;
    list-style-image: url(../img/discs_v1.1.png);
}

.item__list p {
    display: inline-block;
}

.item__list b {
    font-size: 18px;
}

.item__list i {
    font-size: 16px;
}

.our-team {
    background: #000;
    text-align: center;
    color: #fff;
}

.our-team__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: 600;
}

.our-team__item__image {
    margin-top: 100px;
}

.our-team__item__name {
    margin-top: 20px;
}

.our-team__item__text {
    margin-top: 30px;
}

.our-team__item {
    padding-bottom: 160px;
}

.our-services__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.our-services__slogan {
    margin-top: 40px;
    font-size: 16px;
}

.our-services__item__image {
    margin-top: 100px;
}

.our-services__item__title {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
}

.our-services__item__text {
    margin-top: 30px;
    font-size: 14px;
}

.our-services__item {
    padding-bottom: 100px;
}

.element {
    height: 3px;
    width: 98px;
    background-color: #fcac45;
    margin: auto;
}

.icon {
    display: none;
}

.our-services {
    text-align: center;
}

.our-clients {
    background: #000;
    text-align: center;
    color: #fff;
}

.our-clients__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
}

.our-clients__item {
    margin: 110px auto 210px;
}

.our-works {
    text-align: center;
}

.our-works__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
}

.our-works__item {
    margin: 0 auto 40px;
}

.our-works__slogan {
    margin-top: 40px;
    margin-bottom: 160px;
    font-size: 16px;
}

.our-testimonials {
    background: #000;
    text-align: center;
    color: #fff;
}

.our-testimonials__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
}

.our-testimonials__text {
    margin: 100px 30px 20px 30px;
    font-size: 18px;
}

.our-testimonials__client {
    padding-bottom: 160px;
    font-size: 16px;
    color: #818181;
}

.our-contacts__title {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
}

.our-contacts__slogan {
    margin-top: 40px;
}

.form-group {
    margin: auto;
}

label {
    margin-top: 30px;
}

.name,
.email {
    height: 40px;
}

.message {
    height: 165px;
}

.btn {
    height: 40px;
    width: 165px;
    background-color: #fcac45;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 140px;
}

footer {
    background-color: #222222;
}

.socials {
    display: inline-block;
    margin: 30px auto 30px;
}
